/*提供一些公共scss方法*/
/*eg: @include prefix(transform, translate(-50%, -50%)); */
@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

/*css3文本省略...，参数行数*/
@mixin ellipsis($rowCount) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
}

@svg 1px-border {
    width: 4px;
    height: 4px;
    @rect {
        fill: transparent;
        width: 100%;
        height: 100%;
        stroke-width: 25%; // 边框宽度 4px * 25%(即1px)
        stroke: var(--color, black);
    }
}

/**
 * 1px线
 * 使用：@include border1px(颜色[, top|bottom|left|right])
 */
@mixin border1px($color, $station: null) {
    border: 0;
    @if $station != null {
        border-#{$station}: 1px solid;
    }
    @else {
        border: 1px solid;
    }
    border-image: svg(1px-border param(--color #{$color})) 1 stretch;
}

/*传入值为设计稿测量px值即可*/
@function pxToRem($px) {
    $rem: 75;
    @return ($px/$rem)+rem;
}

/*卡帕斯主色调文字，按钮颜色值*/
$baseColorKapasi: #0fc7cf;

/*卡帕斯主色调页面背景颜色值*/
$baseBgColorKapasi: #26303a;